<div class="error-block" tabindex="-1" aria-live="assertive" role="alert" aria-relevant="additions" aria-atomic="false">
  <h2 class="error-block__title"></h2>
  <ul class="error-block__list"></ul>
</div>
