  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!-- bootstrap js file -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- include tinymce via cdn -->
  <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
  <!-- include tinymce config options -->
  <script type="text/javascript" src="/js/tinymceconfig.js"></script>
  <!-- include makeSticky -->
  <script type="text/javascript" src="/js/sticky.js"></script>
  <!-- include floatLabel -->
  <script type="text/javascript" src="/js/float-label.js"></script>
  <!-- include cleaning editor output for empty p tags -->
  <script type="text/javascript" src="/js/cleanEditorOutput.js"></script>
  <!-- include comment-submit -->
  <script type="text/javascript" src="/js/comment-submit.js"></script>
  </body>
</html>
