  <!-- include tinymce via cdn -->
  <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
  <!-- import concatinated js file -->
  <script type="text/javascript" src="/dist/js/main.min.js"></script>
  </body>
</html>
