.comments {
  background-color: $color-light-b;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 18px;
}

.comments-wrapper {
  @extend .container;
}

.comments__main {
  @extend %content-centered--skinny;
}

.comments__title {
  @extend %sub-heading;
  font-weight: 400;
  color: $color-accent;
  text-transform: uppercase;
  margin-bottom: 18px;
  text-align: center;
}

.comments__list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 18px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column-reverse;
}

.comment-card {
  background-color: $color-white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.comment-card__author {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.comment-card__date {
  @extend %text--tiny;
  margin-bottom: 0;
}

.comment-card__body {
  @extend %text;
  margin-top: 12px;
  color: $color-black;
}
