<div class="tinymce-pipelinetpl">
    <h3 class="editor-output__subheader">Utilisation and pipeline</h3>
    <div class="row">
      <div class="pipeline__figure">
        <p class="pipeline__percent">90<span class="pipeline__percent--small">%</span></p>
      </div>
      <div class="pipeline__text">
        <p>This is the pipeline text for the given period. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
</div>
