<% include ../partials/head %>
  <section class="container">
    <form action="/posts/<%= post.id %>?_method=PUT" method="POST">
      <fieldset class="post-form">
        <legend class="hidden">Edit post</legend>
          <label for="post-title">Issue date</label>
          <input id='post-title' name='post[title]' type='text' value='<%= post.title %>' placeholder='Enter a title for the post'/>
          <label for="post-body">Post body</label>
          <textarea id='post-body' name='post[body]' placeholder='Get your Shakespeare on'><%= post.body %></textarea>
          <button class="btn-primary">Update post</button>
      </fieldset>
    </form>
  </section>
<% include ../partials/foot %>
